* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    ul, li, a {
        padding: 0;
        margin: 0;
        text-decoration: none;
        list-style-type: none;
        color: #000000;
    }
}

.App {
    display: flex;
    min-height: 100vh;
}